/* layout-adapter */
@media (max-width: 575px) {
  :root {--font-size-base: 12px;}
}

@media (min-width: 576px) and (max-width: 767px) {
  :root {--font-size-base: 14px;}
}

@media (min-width: 768px) and (max-width: 991px) {
  :root {--font-size-base: 16px;}
}

@media (min-width: 992px) and (max-width: 1199px) {
  :root {--font-size-base: 18px;}
}

@media (min-width: 1200px) and (max-width: 1399px) {
  :root {--font-size-base: 20px;}
}

@media (min-width: 1400px) {
  :root {--font-size-base: 25px;}
}
